services:
  db:
    image: postgres:16
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - postgres-impexp:/home
    restart: on-failure:5
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5431:5432"

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data

volumes:
  postgres-data:
    driver: "local"
    driver_opts:
      type: "none"
      device: "../../../volumes/pg-data"
      o: "bind" 
  postgres-impexp:
    driver: "local"
    driver_opts:
      type: "none"
      device: "../../../volumes/pg-impexp"
      o: "bind" 
  minio-data:
    driver: "local"
    driver_opts:
      type: "none"
      device: "../../../volumes/minio"
      o: "bind" 
